<div class="spacer">
</div>

<div class="row user-show-left">
  <div class="large-4 large-offset-4 columns">
    <ul>
      <li><%=image_tag("#{@user.image}", height:'180px', width:'200px')%></li>
      <li><%= @user.username%></li>
      <li><%= "Member since: #{@user.created_at.to_date}"%></li>
      <li id="user-bio"><%= @user.bio%></li>
      <li><%= @user.email%></li>
      <li><%= "Bikes: "%>
          <% bike_count = 0 %>
          <% @user.bikes.each do |bike| %>
          <% bike_count +=1 %>
          <% end %>
          <%= bike_count %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <ul class="small-block-grid-1 medium-block-grid-3 columns">
    <%= render @user.bikes %>
  </ul>
</div>

​
