<h1><%=@user.name%>'s page</h1>
​
<%= image_tag @user.image  %>
​
<%= "Email: #{@user.email}"  %> </br>
<%= "Number of bikes: #{}"  %> </br>
</br>

<%= "Bookings:"  %> </br>
<% count = 0 %>
<% @user.bookings.each do |booking| %>
<% count +=1 %>
<% bike = Bike.find(booking.bike_id) %>
<%= "Booking number #{count} :" %>
<%= "You have booked #{bike.name}, at: #{booking.start_time}, for #{booking.length} hours" %>
</br>
</br>
<% end %>

