<ul>
  <%= form_for([@bike, @booking]) do |f| %>
  
  <li>  <%= f.label 'start_time', 'Start Date / Time' %> </li>
  <li> <%= f.datetime_select :start_time, { minute_step: 15 } %> </li>

  <li>  <%= f.label 'length', 'Length of booking in hours' %> </li>
  <li> <%= f.number_field 'length', hour: 1 %> </li>

  <%= f.submit 'Submit', class: "button expand" %>
  <% end %> 
</ul>