<h3> Bookings for <%= @bike.name %></h3>
<table class="bookings_table">
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Rider name</th>
    <th>Owner Name</th>
  </tr>
  
  <% @bookings.each do |booking| %>
  <tr>
    <td>
      <%= booking.start_time.strftime('%e %b %Y %H:%M%p') %>
    </td>
    <td>
      <%= (booking.calculate_end_time + 60).strftime('%e %b %Y %H:%M%p') %>
    </td>
    <% rider = User.find(booking.rider_id)%>
    <% owner = User.find(Bike.find(booking.bike_id).owner_id)%>
    <td><%= link_to "#{rider.name}", user_path(rider) %></td>
    <td><%= link_to "#{owner.name}", user_path(owner) %></td>
    <td><%= link_to "Delete", bike_booking_path(@bike, booking), data: { confirm: 'Are you sure?' }, method: :delete %>
    </td>
    <td><%= link_to "Edit", edit_bike_booking_path(@bike, booking) %>
    </td>
  </tr>
  <% end %>
</table>