<div class='spacer'></div>


  <% rent_count = 0 %>
  <% Booking.all.each do |booking| %> 
  <% bikeid = booking.bike_id %> 
  <% riderid = booking.rider_id %> 
  <% bike = Bike.find(bikeid) %> 
  <% rider = User.find(riderid) %>
  <% if bike.owner_id == current_user.id  %> 
  <div class ="row center no-bullets">
    <div class="small-12 medium-4 columns">
      <%= link_to image_tag(bike.bike_image), bike_path(bike) %> 
    </div>
    <div class="small-12 medium-4 columns">
      <ul class="bike-info">
        <li> <%= "Your bike '#{bike.name}' is booked out on #{booking.start_time.to_date} at: #{booking.start_time.strftime("%H:%M")} for #{booking.length} hours by #{rider.name}"%> 
        </li>
      </ul>
    </div>
    <div class="small-12 medium-4 columns user-buttons">
      <ul class="bike-buttons">
        <li><%=link_to "Edit Booking", edit_bike_booking_path(bike, booking)%></li>
        <li><%= link_to "Delete Booking", bike_booking_path(bike, booking), data: { confirm: 'Are you sure?' }, method: :delete %></li>
      </ul>
    </div>
  </div>
  <% end %>
  <% end %> 



  <div class ="row center">
    <div id='user-button'class="small-12 large-12 columns button success expand user-button"><%= link_to "Book a bike!", root_path %></div> 
  </div>



