<div class="spacer">
</div>

<div class="row">
  <div class="medium-3 small-3 columns user-show-left">
  <ul>
    <li><%=image_tag("#{@user.image}", height:'180px', width:'200px')%></li>
    </ul>
    </div>
  <div class="medium-6 small-9 columns user-show-left">
  <ul>
    <h1><li><%= @user.username%></li></h1>
    <li><%= @user.name%></li>
    <li id="user-bio"><%= @user.bio%></li>
    <li><%= "Bikes: "%>
        <% bike_count = 0 %>
        <% @user.bikes.each do |bike| %>
        <% bike_count +=1 %>
        <% end %>
        <%= bike_count %>
    </li>
    <li><%= "Member since: #{@user.created_at.to_date}"%></li>
  </ul>
  </div>
  <div class="medium-3 columns"</div>
</div>


<div class="row">
  <ul class="small-block-grid-1 medium-block-grid-3 columns">
    <%= render @user.bikes %>
  </ul>
</div>
</div>

​
