<div class="row full-screen background-1">
  <div class="small-12 text-center large-12 columns zero-padding">
    <%#= image_tag"front-page-background-2.jpg"%>
  </div>
</div>

<div class="row center space">
  <div class="small-12 medium-12 columns space">
    <h3>How Renting Works</h3>
  </div>
</div>

  <div class="row content">
    <div class="small-12 medium-4 columns">
      <div class="small-12 medium-6 columns"> <%= image_tag "search.png"%></div>
      <div class="small-12 medium-6 columns"><p>Find a bike</p></div>
    </div>
    <div class="small-12 medium-4 columns">
      <div class="small-12 medium-6 columns"> <%= image_tag "calendar.png"%></div>
      <div class="small-12 medium-6 columns"><p>Book the bike</p></div>
    </div>
    <div class="small-12 medium-4 columns">
      <div class="small-12 medium-6 columns"> <%= image_tag "ride.png"%></div>
      <div class="small-12 medium-6 columns"><p>Enjoy!</p></div>
    </div>
  </div>



<div class="row center space">
  <div class="small-12 medium-12 columns space">
    <h3>How listing works</h3>
  </div>
  </div>

  <div class="row content">
    <div class="small-12 medium-4 columns">
      <div class="small-12 medium-6 columns"> <%= image_tag "post.png"%></div>
      <div class="small-12 medium-6 columns"><p>Post Your Bike</p></div>
    </div>
    <div class="small-12 medium-4 columns">
      <div class="small-12 medium-6 columns"> <%= image_tag "booking.png"%></div>
      <div class="small-12 medium-6 columns"><p>Wait for Bookings</p></div>
    </div>
    <div class="small-12 medium-4 columns">
      <div class="small-12 medium-6 columns"> <%= image_tag "cash.png"%></div>
      <div class="small-12 medium-6 columns"><p>Earn Cash!</p></div>
    </div>
  </div>
