<div class="row full-screen">
  <div class="small-12 text-center large-12 columns zero-padding bike-show" style="background-image:url(<%= @bike.bike_image %>); background-size: cover; background-position: center">
  </div>
</div>


<div class="row heavy-left center">
  <div class="medium-9 columns">
    <ul>
      <li><%=@bike.name %></li>
      <li><%= @bike.short_description %></li>
      <li><% if current_user%>
          <% if @bike.owner_id == current_user.id %>
          <%= link_to "Edit detials for #{@bike.name}", edit_bike_path(@bike)%>
          <%else %>
          <%= link_to "Book this bike!", new_bike_booking_path(@bike) %>
          <% end %>
          <% else %>
          <%= link_to "Book this bike!", new_user_session_path %>
          <%end%></li>
    </ul>
  </div>
  </div>

<div class="row heavy-left">
  <div class="medium-9 columns">
    <ul>
      <li><h2>Description</h2></li>
      <li><%= @bike.description %></li>
      <li class="center"><%= "Features"%></li>
      <li class='center small-image'><% @bike.features.each do |feature| %>
          <% if feature.name == "Helmet" %>
          <%= image_tag("#{feature.name}.png",height: '50', width:'50')%>
          <% elsif feature.name == "Flask" %>
          <%= image_tag("#{feature.name}.png",height: '50', width:'50')%>
          <% elsif feature.name == "Mud_guard" %>
          <%= image_tag("#{feature.name}.png",height: '50', width:'50')%>
          <% elsif feature.name == "Lights" %>
          <%= image_tag("#{feature.name}.png",height: '50', width:'50')%>
          <% elsif feature.name == "Lock" %>
          <%= image_tag("#{feature.name}.png",height: '50', width:'50')%>
          <% end %>
          <% end %></li>
    </ul>
  </div>
  <div class="medium-3 columns bike-show-right profile-deets">
    <ul>
      <li>Owner Information</li>
      <% owner = User.find(@bike.owner_id) %>
      <li><%= link_to image_tag(owner.image,height: '70', width:'70'), user_path(owner) %></li>
      <li><%= owner.name %></li>
      <li><%= owner.bio%></li>
      <li><%="Member since: "%> <%=owner.created_at.to_date%></li>
    </ul>
  </div>
</div>


<div id="map"></div>


