<h1><%= @bike.name %>'s Page</h1>

<%= image_tag @bike.image %> </br>
<%= "Description:#{@bike.description}" %></br>
<%= "Features on this bike :" %></br>
<% @bike.features.each do |feature| %>
<%= feature.name %> </br>
<% end %>
<% if @bike.owner_id == current_user.id %>
<%= link_to "Edit detials for #{@bike.name}", edit_bike_path(@bike)%>
<%else %>
<%= link_to "Book this bike!", new_bike_booking_path(@bike) %>
<% end %>

<div id="map"></div>



