<!DOCTYPE html>
<html lang="en">
<head>
  <title>MyBike</title>
  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="top-bar row" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/"><%= image_tag "vairlo-red" %></a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><%= link_to "How It Works", about_path %></li>
          <% if current_user %>
          <li><%= link_to "List A Bike", new_bike_path %></li>
          <li><%= link_to "Rentals", rentals_user_path(current_user)%></li>
          <li><%= link_to "Bookings", bookings_user_path(current_user)%></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete  %></li>
          <li><%= link_to "My Profile", user_path(current_user) %></li>
          <li id="nav-profile"><%=image_tag(current_user.image)%></li>
          <% else %>
          <li><%= link_to "List A Bike", new_user_registration_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Log In", new_user_session_path %></li> 
          <% end %>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#"></a></li>
        </ul>
      </section>
    </nav>
  </header>
  <% flash.each do |name, message| %>
  <div class="flash-message flash-message-<%= name %>">
    <%= message %>
  </div>
  <% end %>

  <%= yield %>
  <footer>
    <div class="row footer no-bullets center">
      <div class="small-4 large-4 columns">
      <ul>
        <ul class="footer-content">
        <li  class="footer-title"><strong>Discover</strong></li>
        <li>Culture</li>
        <li>History</li>
        <li>News</li>
        <li>Investors</li>
        </ul>
      </ul>
      </div>
      <div id="footer-middle"class="small-4 large-4 columns">
      <ul>
      <li id="footer-logo"><%= image_tag "vairlo-black" %></li>
      <li>MeEmojiCompany &copy;</li>
      </ul>
      </div>
      <div class="small-4 large-4 columns">
        <ul>
          <ul class="footer-content">
          <li class="footer-title"><strong>Company</strong></li>
          <li>Career</li>
          <li>Blog</li>
          <li>Help</li>
          <li>Policies</li>
          </ul>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
